<div>
  <div>
    <h1>
      List of all flights
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new flight
    </h2>

    <form action="/insert_flight" method="post">

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="departs_at_box">
          Departs at
        </label>

        <input type="datetime-local" id="departs_at_box" name="query_departs_at">
      </div>

      <button>
        Create flight
      </button>
    </form>
  </div>
</div>


<h2> Upcoming Flights </h2>


<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Description
        </th>

        <th>
          Departs at
        </th>

        <th>
          Alert sent
        </th>
        <th>
        </th>
      </tr>

      <% @upcoming_flights.each do |a_flight| %>
      <tr>
        <td>
          <%= a_flight.description %>
        </td>

        <td>
          <%= a_flight.departs_at %>
        </td>

        <td>
          <%= a_flight.alert_sent %>
        </td>
        <td>
          <a href="/flights/<%= a_flight.id %>">
            Show details
          </a>
        </td>
      </tr>
    <% end %>
  </table>

<h2> Past Flights </h2>


<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Description
        </th>

        <th>
          Departs at
        </th>

        <th>
          Alert sent
        </th>

      </tr>

      <% @past_flights.each do |a_flight| %>
      <tr>

        <td>
          <%= a_flight.description %>
        </td>

        <td>
          <%= a_flight.departs_at %>
        </td>

        <td>
          <%= a_flight.alert_sent %>
        </td>

        <td>
          <a href="/flights/<%= a_flight.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
